@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap'); */

* {
  font-family: 'Cairo', sans-serif;
}
